<!DOCTYPE html>
<html>
  <head>
    <title>Roshambo</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'roshambo' %>
    <%= stylesheet_pack_tag 'roshambo' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
